html{
    font-size:20px;
}
body{
  
    font-size: medium;
    line-height:1.5;
    text-align: center;
    color:black;
    margin: 0;
}

#main{
   
    text-align: center;
}
h1{
    text-align: center;
margin-bottom: 0;
  
}

h2{
    text-align: center;
}
#image{
    max-width: 100%;
    display: block;
    height: auto;
    margin:0 auto;
}
#img-caption{
    text-align: center;
}
#img-div{
    background-color:burlywood;
    padding: 10px;
    margin: 0;
}
div{
    background-color:bisque;
    text-align: center;
}
ul{ 
    max-width: 550px;
    margin:0 auto 50px auto;
    text-align: left;
    line-height: 1.5;
}
li{
    margin:16px 0;
}
blockquote{
    max-width: 550px;
    font-style: italic;
    margin:0 auto 50px auto;
    text-align: left;
}
#headline{
    margin: 50px 0;
    text-align: center;
}
